@font-face {
    font-family: playwrite;
    src: url(PlaywriteNGModern-Regular.ttf);
}

*, *::after, *::before {
    box-sizing: border-box;
}



:root {
    --cell-size: 170px;
    --mark-size: calc(var(--cell-size) * .9);
}

body {
    background-color: #272727;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 4rem;
    color: orange;
    font-family: playwrite;
}

.creator {
    display: flex;
    gap: 100px;
    color: rgb(0, 213, 255);
}

.board {
    width: max-content;
    height: max-content;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    margin: 50px 0;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 2px solid rgb(0, 213, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
    background-color: orange;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
    background-color: rgb(55, 55, 55);
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
  width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * .7);
  height: calc(var(--mark-size) * .7);
    background-color: #272727;
}

.winning-message {
    opacity: 0;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    color: orange;
    font-size: 30px;
    font-family: playwrite;
    flex-direction: column;
}

.winning-message button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 8px;
    height: 34px;
    width: 112px;
    border: none;
    background: #00000034;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.winning-message button i {
    color: rgb(0, 213, 255);
}

.lable {
    line-height: 20px;
    font-size: 17px;
    color: orange;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.winning-message button:hover {
    background: orange;
}

.winning-message button:hover i {
    animation: spin 2s linear infinite;
}

@keyframes spin {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.winning-message.show {
    opacity: 1;
}